@media screen {
    html{
        scroll-behavior: smooth;
    }
*{
    margin: 0;

    
}
body{
    background-color: black;
    justify-content: center;
    width: 100%;
    margin: 0;

}
nav{
    height: 50px;
    background-color: black;
    box-shadow: 0px 10px 10px 0px rgb(59, 59, 59);
    display: flex;
    justify-content: flex-end;
    z-index: 199;
    position: fixed;
    width: 100%;

}
.btnsp{
    height: 50px;
    margin-right: 15px;
    color: white;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    border: none;
    right:3vw;
    transform: scale(1);
    transition: transform .1s
  
}
.btnsp:hover{
    scale: 1.2;
    box-shadow:inset 0px -13px 15px 0px rgba(17, 0, 255, 0.7);
    transition: box-shadow .4s;
}   
.btnsp::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 3px;
    left: 0;
    background-color: rgb(17, 0, 255);
    transform-origin: bottom right;
    box-shadow:inset 0px -13px 15px 0px rgba(17, 0, 255, 0.7);
    transition: transform .25s ease-in-out;
}
.btnsp:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
    box-shadow:inset 0px -13px 15px 0px rgba(17, 0, 255, 0.7);
    transition: box-shadow .4s;

}
.actbtn{
    height: 50px;
    margin-right: 15px;
    color: white;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    border: none;
    right:3vw;
    transform: scale(1.2);
    transition: all .1s;
    box-shadow:inset 0px -13px 15px 0px rgba(17, 0, 255, 0.7);



}
/*START OF ANIMATION HEEEEERRRREEEEE */  
/*START OF ANIMATION HEEEEERRRREEEEE */
/*START OF ANIMATION HEEEEERRRREEEEE */
/*START OF ANIMATION HEEEEERRRREEEEE */
.effect{
    position: absolute;
    color: rgb(255, 255, 255);
    height:200px;

}
h6{
    position: absolute;
    font-size: 42px;
    top:100px;
    left: 50px;
    width: 500px;
}
.container{
    position: absolute;
    top: 100px;
    left: 350px;
    font-size: 3vw;
    
}
.animation {
    position: absolute;
    width: 29vw;
    height:7vh;
    overflow: hidden;
    margin-left: 1rem;
    background-color:none;
    text-align: center;
    left: -40px;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .effect div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    background-color:#0011ff;
  }
  .second div {
    background-color:#740202;
  }
  .third div {
    background-color:#0a657c;
    
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.52rem;}
    30% {margin-top: -5.52rem;}
    40% {margin-top: -11.6rem;}
    60% {margin-top: -11.6rem;}
    70% {margin-top: -5.52rem;}
    80% {margin-top: -5.52rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
/*END OF ANIMATION HEEEEERRRREEEEE */  
/*END OF ANIMATION HEEEEERRRREEEEE */  
/*END OF ANIMATION HEEEEERRRREEEEE */  
/*END OF ANIMATION HEEEEERRRREEEEE */  
.socmeds{
    position: absolute;
    width: 70%;
    height:240px;
    bottom: 50px;
    left:0px;
    justify-content: space-around;
    background-color: #0011ff54;
}
.socmeds img{
    width: 40px;
    height: 40px;
}
.fb{
    margin-top:10px;
    width: 40px;
    height:40px;
    position: relative;
    background-color: black;
    left:140px;
    border-radius: 20px;
    transition: width .2s;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}
.fb:hover{
    width: 230px;
    transition: width .2s;
    
}
.acc{
    position: relative;
    display: flex;
    color:white;
}
a{
    text-decoration: none;
    color:white;
    position:absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.lft-hed{
    background-color: rgba(255, 255, 255, 0.37);
    position: relative;
    display: flex;
    justify-content: center;
    width: 99%;
    height: 600px;
    top: 130px;
    left: 0px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    color: white;
    border-radius: 1000px;
    overflow: hidden;
}
h1{
    position: absolute;
    font-size: 60px;
    text-align: left;
    left: 10vw;
    top:20px;

}
h2{ 
    margin-top: 90px;
    position: absolute;
    left: 18vw;
}
.mee{
    position: absolute;
    text-align: center;
    font-size: 1.4vw;
    top:150px;
    left: 90px;
    width: 31vw;
}


.rht-heder{
    position: relative;
    float: right;
    right: 5.5vw;
    top:-500px;
    height:700px;
}
.ako{
    width: 400px;
    height: 650px;
    border-radius: 20px;
    
}

.infor{
    background-color: black;
    width: 100%;
    position: absolute;
    top:1px;
}
.int{
    position: relative;
    height:900px;
    overflow: hidden;
    top: 40px;
}
.panga{
    background-color: black;
    width: 100%;
    height:400px;
    box-shadow: 0px -4px 15px -1px rgba(255, 255, 255, 0.438);
    position: relative;
    top:0px;
 
}

h3 {
    color:white;
    text-align: center;
    font-size: 40px;
    top: 30px;
    position: relative;
}
.Hobby{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    height: 400px;
    align-items: center;
    background-color: rgba(151, 140, 140, 0);
    position: relative;
    top: 40px;
 


}
/*****HOBBBBYYYYY*/
/*****HOBBBBYYYYY*/
/*****HOBBBBYYYYY*/
/*****HOBBBBYYYYY*/
.gaming{ 
    background-color: none;
    border-radius: 30px;
    overflow: hidden;
    height: 250px;
    width: 250px;
    justify-content: center;
    display: flex;
    align-items:center;
    box-shadow: 0px 0px 80px 1px rgba(4, 84, 255, 0.521);
    scale: (1);
    transition: .2s;

}
.gaming:hover{
    transform: scale(1.2);
    transition: .2s;

}
.himage{
    height: 250px;
    width: 250px;
    vertical-align:middle;

}

.lbl{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.226);
    height: 250px;
    width: 250px;
    border-radius: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    backdrop-filter: blur(2px);
    color: white;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
    transform: scale(1);
    transition: transform .2s;
}

.games{
    position:absolute;
    top: 0px;
    height:600px;
    width: 100%;
    background-color: rgba(2, 4, 175, 0.404);
    backdrop-filter: blur(2px);
    scale: 0;
    transition: scale .2s;
    
    
}
.close{
    Color:white;
    font-size: 20px;
    position: absolute;
    display: flex;
    float: right;
    right: 40px;
    top: 20px;
    cursor: pointer;
}
.open{
    position:absolute;
    top: 0px;
    height:600px;
    width: 100%;
    background-color: rgba(2, 4, 175, 0.404);
    backdrop-filter: blur(2px);
    z-index: 99;
    scale: 1;
    transition: scale .2s;
    display: flex;
    justify-content: center;
}
.laro{
    color:white;
    top: 40px;
    position: relative;
    width: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
  /*****HOBBBBYYYYY*/
  /*****HOBBBBYYYYY*/
  /*****HOBBBBYYYYY*/
  /*****HOBBBBYYYYY*/
.tatt{
    background-color: black;
    width: 100%;
    height:400px;
    box-shadow: 0px -4px 15px -1px rgba(255, 255, 255, 0.438);
    position: relative;
    top:260px;
 
}
h4  {
    color:white;
    text-align: center;
    font-size: 40px;
    top: 30px;
    position: relative;
}
h5{
    color:white;
    text-align: center;
    font-size: 30px;
    top: 160px;
    position: relative;
    opacity: .6;
}

.educ{
    background-color: black;
    width: 100%;
    height:500px;
    box-shadow: 0px -4px 15px -1px rgba(255, 255, 255, 0.438);
    position: relative;
    top:260px;
    color:white;
    
}
h7{
    color:white;
    text-align: center;
    font-size: 40px;
    top: 30px;
    position: relative;
    display: block;
    align-self: center;
}

.educa{
    position: relative;
    top: 100px;
    font-size:20px;
    width: 550px;;
    left:100px;
}
.cont{
    background-color: black;
    width: 100%;
    height:500px;
    box-shadow: 0px -4px 15px -1px rgba(255, 255, 255, 0.438);
    position: relative;
    top:260px;
    display: flex;
    justify-content: center;
}
form{
    left: 10px;
    position: relative;
}
.frm{
    height: 600px;
    position: relative;
    width: 600px;
    display: flex;
    justify-content: center;
   
}
input{
    margin-top: 40px;;
    margin-right: 40px;
    width: 250px;
    height: 30px;
}
::placeholder{
    font-size: 15px;
}
textarea{
    margin-top:40px; ;
    width: 555px;
    height: 300px;
}
.sbmt{
    position: relative;
    top: 10px;
    left:0px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-color: White;
    background-color: black;
    color: white;
}
.sbmt:hover{
    box-shadow: 0px 0px 30px 1px  rgb(0, 47, 255);
}
}
@media only screen and (max-width:850px) {
    html{
        scroll-behavior: smooth;
    }
*{
    margin: 0;

    
}
body{
    background-color: black;
    justify-content: center;
    width: 100%;
    margin: 0;

}
nav{
    height: 50px;
    background-color: black;
    box-shadow: 0px 10px 10px 0px rgb(59, 59, 59);
    display: flex;
    justify-content: flex-end;
    z-index: 199;
    position: fixed;
    width: 100%;

}
.btnsp{
    height: 50px;
    margin-right: 15px;
    color: white;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    border: none;
    right:3vw;
    transform: scale(1);
    transition: transform .1s
  
}
.btnsp:hover{
    scale: 1.2;
    box-shadow:inset 0px -13px 15px 0px rgba(17, 0, 255, 0.7);
    transition: box-shadow .4s;
}   
.btnsp::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 3px;
    left: 0;
    background-color: rgb(17, 0, 255);
    transform-origin: bottom right;
    box-shadow:inset 0px -13px 15px 0px rgba(17, 0, 255, 0.7);
    transition: transform .25s ease-in-out;
}
.btnsp:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
    box-shadow:inset 0px -13px 15px 0px rgba(17, 0, 255, 0.7);
    transition: box-shadow .4s;

}
.actbtn{
    height: 50px;
    margin-right: 15px;
    color: white;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    border: none;
    right:3vw;
    transform: scale(1.2);
    transition: all .1s;
    box-shadow:inset 0px -13px 15px 0px rgba(17, 0, 255, 0.7);



}
/*START OF ANIMATION HEEEEERRRREEEEE */  
/*START OF ANIMATION HEEEEERRRREEEEE */
/*START OF ANIMATION HEEEEERRRREEEEE */
/*START OF ANIMATION HEEEEERRRREEEEE */
.effect{
    position: absolute;
    color: rgb(255, 255, 255);
    height:200px;

}
h6{
    position: absolute;
    font-size: 32px;
    top:100px;
    left: 50px;
    width: 500px;
}
.container{
    position: absolute;
    top: 100px;
    left: 310px;
    font-size: 3.5vw;
    text-align: center;
    
}
.animation {
    position: absolute;
    width: 29vw;
    height:5vh;
    overflow: hidden;
    margin-left: 1rem;
    background-color:none;
    text-align: center;
    left: -40px;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .effect div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    background-color:#0011ff;
  }
  .second div {
    background-color:#740202;
  }
  .third div {
    background-color:#0a657c;
    
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.52rem;}
    30% {margin-top: -5.52rem;}
    40% {margin-top: -11.6rem;}
    60% {margin-top: -11.6rem;}
    70% {margin-top: -5.52rem;}
    80% {margin-top: -5.52rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
/*END OF ANIMATION HEEEEERRRREEEEE */  
/*END OF ANIMATION HEEEEERRRREEEEE */  
/*END OF ANIMATION HEEEEERRRREEEEE */  
/*END OF ANIMATION HEEEEERRRREEEEE */  
.socmeds{
    position: absolute;
    width: 100%;
    height:240px;
    bottom: 50px;
    left:0px;
    justify-content: space-around;
    background-color: #0011ff54;
}
.socmeds img{
    width: 40px;
    height: 40px;
}
.fb{
    margin-top:10px;
    width: 40px;
    height:40px;
    position: relative;
    background-color: black;
    left:140px;
    border-radius: 20px;
    transition: width .2s;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}
.fb:hover{
    width: 230px;
    transition: width .2s;
    
}
.acc{
    position: relative;
    display: flex;
    color:white;
}
a{
    text-decoration: none;
    color:white;
    position:absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.lft-hed{
    background-color: rgba(255, 255, 255, 0.37);
    position: relative;
    display: flex;
    justify-content: center;
    width: 99%;
    height: 600px;
    top: 130px;
    left: 0px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    color: white;
    border-radius: 1000px;
    overflow: hidden;
}
h1{
    position: absolute;
    font-size: 50px;
    text-align: left;
    left: 10vw;
    top:50px;

}
h2{ 
    margin-top: 110px;
    position: absolute;
    left: 18vw;
}
.mee{
    position: absolute;
    text-align: center;
    font-size: 1.8vw;
    top:150px;
    left: 90px;
    width: 31vw;
}


.rht-heder{
    position: relative;
    float: right;
    right: 5.5vw;
    top:-450px;
    height:700px;
    
}
.ako{
    width: 300px;
    height: 550px;
    border-radius: 20px;
    
}

.infor{
    background-color: black;
    width: 100%;
    position: absolute;
    top:1px;
}
.int{
    position: relative;
    height:900px;
    overflow: hidden;
    top: 40px;
}
.panga{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:100px;
    box-shadow: 0px -4px 15px -1px rgba(255, 255, 255, 0.438);
    position: relative;
    top:0px;
 
}

h3 {
    color:white;
    text-align: center;
    font-size: 40px;
    top: 30px;
    position: relative;
}
.Hobby{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    height: 300px;
    align-items: center;
    background-color: rgba(151, 140, 140, 0);
    position: relative;
    top: 40px;
 


}
/*****HOBBBBYYYYY*/
/*****HOBBBBYYYYY*/
/*****HOBBBBYYYYY*/
/*****HOBBBBYYYYY*/
.gaming{ 
    background-color: none;
    border-radius: 30px;
    overflow: hidden;
    height: 190px;
    width: 190px;
    justify-content: center;
    display: flex;
    align-items:center;
    box-shadow: 0px 0px 80px 1px rgba(4, 84, 255, 0.521);
    scale: (1);
    transition: .2s;

}
.gaming:hover{
    transform: scale(1.2);
    transition: .2s;

}
.himage{
    height: 190px;
    width: 190px;
    vertical-align:middle;

}

.lbl{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.226);
    height: 190px;
    width: 190px;
    border-radius: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    backdrop-filter: blur(2px);
    color: white;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
    transform: scale(1);
    transition: transform .2s;
}

.games{
    position:absolute;
    top: 0px;
    height:00px;
    width: 100%;
    background-color: rgba(2, 4, 175, 0.404);
    backdrop-filter: blur(2px);
    scale: 0;
    transition: scale .2s;
    
    
}
.close{
    Color:white;
    font-size: 20px;
    position: absolute;
    display: flex;
    float: right;
    right: 40px;
    top: 20px;
    cursor: pointer;
}
.open{
    position:absolute;
    top: 0px;
    height:300px;
    width: 100%;
    background-color: rgba(2, 4, 175, 0.404);
    backdrop-filter: blur(2px);
    z-index: 99;
    scale: 1;
    transition: scale .2s;
    display: flex;
    justify-content: center;
}
.laro{
    color:white;
    top: 40px;
    position: relative;
    width: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
  /*****HOBBBBYYYYY*/
  /*****HOBBBBYYYYY*/
  /*****HOBBBBYYYYY*/
  /*****HOBBBBYYYYY*/
.tatt{
    background-color: black;
    width: 100%;
    height:400px;
    box-shadow: 0px -4px 15px -1px rgba(255, 255, 255, 0.438);
    position: relative;
    top:260px;
 
}
h4  {
    color:white;
    text-align: center;
    font-size: 40px;
    top: 30px;
    position: relative;
}
h5{
    color:white;
    text-align: center;
    font-size: 30px;
    top: 160px;
    position: relative;
    opacity: .6;
}

.educ{
    background-color: black;
    width: 100%;
    height:500px;
    box-shadow: 0px -4px 15px -1px rgba(255, 255, 255, 0.438);
    position: relative;
    top:260px;
    color:white;
    
}
h7{
    color:white;
    text-align: center;
    font-size: 40px;
    top: 30px;
    position: relative;
    display: block;
    align-self: center;
}

.educa{
    position: relative;
    top: 100px;
    font-size:20px;
    width: 550px;;
    left:100px;
}
.cont{
    background-color: black;
    width: 100%;
    height:500px;
    box-shadow: 0px -4px 15px -1px rgba(255, 255, 255, 0.438);
    position: relative;
    top:260px;
    display: flex;
    justify-content: center;
}
form{
    left: 10px;
    position: relative;
}
.frm{
    height: 600px;
    position: relative;
    width: 600px;
    display: flex;
    justify-content: center;
   
}
input{
    margin-top: 40px;;
    margin-right: 40px;
    width: 250px;
    height: 30px;
}
::placeholder{
    font-size: 15px;
}
textarea{
    margin-top:40px; ;
    width: 555px;
    height: 300px;
}
.sbmt{
    position: relative;
    top: 10px;
    left:0px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-color: White;
    background-color: black;
    color: white;
}
.sbmt:hover{
    box-shadow: 0px 0px 30px 1px  rgb(0, 47, 255);
}
}
@media only screen and (max-width: 450px) {
    html{
        scroll-behavior: smooth;
        max-width: 450px;
    }
*{
    margin: 0;
        width: 100%;
        overflow-x: hidden;    

    
}
body{
    background-color: black;
    width: 100%;
    margin: 0;


}
nav{
    height: 50px;
    background-color: black;
    box-shadow: 0px 10px 10px 0px rgb(59, 59, 59);
    display: flex;
    justify-content: center;
    z-index: 199;
    position: fixed;
    width: 100%;
    text-align: center;
}
.btnsp{
    height: 40px;
    color: white;
    background: transparent;
    font-size: 4vw;
    cursor: pointer;
    position: relative;
    border: none;
    transform: scale(1);
    transition: transform .1s;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.btnsp:hover{
    scale: 1.2;
    box-shadow:inset 0px -13px 15px 0px rgba(17, 0, 255, 0.7);
    transition: box-shadow .4s;
}   
.btnsp::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 3px;
    left: 0;
    background-color: rgb(17, 0, 255);
    transform-origin: bottom right;
    box-shadow:inset 0px -13px 15px 0px rgba(17, 0, 255, 0.7);
    transition: transform .25s ease-in-out;
}
.btnsp:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
    box-shadow:inset 0px -13px 15px 0px rgba(17, 0, 255, 0.7);
    transition: box-shadow .4s;

}
.actbtn{
    height: 50px;
    margin-right: 15px;
    color: white;
    background: transparent;
    font-size: 4vw;
    cursor: pointer;
    position: relative;
    border: none;
    right:3vw;
    transform: scale(1.2);
    transition: all .1s;
    box-shadow:inset 0px -13px 15px 0px rgba(17, 0, 255, 0.7);



}
/*START OF ANIMATION HEEEEERRRREEEEE */  
/*START OF ANIMATION HEEEEERRRREEEEE */
/*START OF ANIMATION HEEEEERRRREEEEE */
/*START OF ANIMATION HEEEEERRRREEEEE */
.effect{
    position: absolute;
    color: rgb(255, 255, 255);
    height:200px;
    display: none;
    overflow: hidden;

}
h6{
    position: absolute;
    font-size: 32px;
    top:100px;
    left: 50px;
    width: 500px;
    overflow: hidden;
}
.container{
    position: absolute;
    top: 100px;
    left: 310px;
    font-size: 3.5vw;
    text-align: center;
    overflow: hidden;
    
}
.animation {
    position: absolute;
    width: 29vw;
    height:5vh;
    overflow: hidden;
    margin-left: 1rem;
    background-color:none;
    text-align: center;
    float:right;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
    overflow: hidden;
  }
  
  .effect div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    background-color:#0011ff;
  }
  .second div {
    background-color:#740202;
  }
  .third div {
    background-color:#0a657c;
    
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.52rem;}
    30% {margin-top: -5.52rem;}
    40% {margin-top: -11.6rem;}
    60% {margin-top: -11.6rem;}
    70% {margin-top: -5.52rem;}
    80% {margin-top: -5.52rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
/*END OF ANIMATION HEEEEERRRREEEEE */  
/*END OF ANIMATION HEEEEERRRREEEEE */  
/*END OF ANIMATION HEEEEERRRREEEEE */  
/*END OF ANIMATION HEEEEERRRREEEEE */  
.intt{
    width: 100%;
    overflow: hidden;
    justify-content: center;
    text-align: center;
}

.socmeds{
    position: absolute;
    width: 100%;
    height:120px;
    bottom: 170px;
    left:0px;
    justify-content: space-around;
    background-color: #ffffff00;
}
.socmeds img{
    width: 40px;
    height: 40px;
    z-index: 99;
   
}
.fb{
    width: 40px;
    height:40px;
    position: relative;
    background-color: black;
    left:-9vw;
    border-radius: 20px;
    transition: width .2s;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    
}
.fb:hover{
    width: 230px;
    transition: width .2s;
    
}
.acc{
    position: absolute;
    color:white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 7px;
    
}
a{  
    position: relative;
    text-decoration: none;
    color:rgba(255, 255, 255, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left:0px;
    
}


h1{
    position:absolute;
    font-size: 50px;
    text-align: center;
    left:-2vw;


}
h2{ 
    margin-top: 110px;
    position: absolute;
    left:-4vw;

}
.mee{
    position: absolute;
    text-align: center;
    left:10;
    font-size: 3vw;
    width:50%;
    
}
.lft-hed{
    border-radius: 0;
    width: 100%;
    justify-content: center;
}

.rht-heder{
    position: relative;
    float: right;
    right: 5.5vw;
    top:-450px;
    height:700px;
    display: none;
    
}
.ako{
    width: 300px;
    height: 550px;
    border-radius: 20px;
    display: none;
    
    
}

.infor{
    background-color: black;
    width: 100%;
    position: absolute;
    top:1px;
}
.int{
    position: relative;
    height:500px;
    top:0px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 450px;

}
.panga{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:400px;
    box-shadow: 0px -4px 15px -1px rgba(255, 255, 255, 0.438);
    position: relative;
    top:50px;
 
}

h3 {
    color:white;
    text-align: center;
    font-size: 40px;
    top: 30px;
    position: relative;
}
.Hobby{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    height: 400;
    align-items: center;
    background-color: rgba(151, 140, 140, 0);
    position: relative;
    top: 40px;
 


}
/*****HOBBBBYYYYY*/
/*****HOBBBBYYYYY*/
/*****HOBBBBYYYYY*/
/*****HOBBBBYYYYY*/
.gaming{ 
    background-color: none;
    border-radius: 30px;
    overflow: hidden;
    height: 100px;
    width:100px;
    justify-content: center;
    display: flex;
    align-items:center;
    box-shadow: 0px 0px 80px 1px rgba(4, 84, 255, 0.521);
    scale: (1);
    transition: .2s;

}
.gaming:hover{
    transform: scale(1.2);
    transition: .2s;

}
.himage{
    height: 100px;
    width: 100px;
    vertical-align:middle;

}

.lbl{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.226);
    height: 100px;
    width: 100px;
    border-radius: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-align: center;
    backdrop-filter: blur(2px);
    color: white;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
    transform: scale(1);
    transition: transform .2s;
}

.games{
    position:absolute;
    top: 0px;
    height:400px;
    width: 100%;
    background-color: rgba(2, 4, 175, 0.404);
    backdrop-filter: blur(2px);
    scale: 0;
    transition: scale .2s;
    
    
}
.close{
    Color:white;
    font-size: 20px;
    position: absolute;
    display: flex;
    float: right;
    right: -10px;
    top: 20px;
    cursor: pointer;
}
.open{
    position:absolute;
    top: 0px;
    height:400px;
    width: 300;
    background-color: rgba(2, 4, 175, 0.404);
    backdrop-filter: blur(2px);
    z-index: 99;
    scale: 1;
    transition: scale .2s;
    display: flex;
    justify-content: center;
    overflow: scroll;
}
.laro{
    color:white;
    top: 40px;
    position: relative;
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
  /*****HOBBBBYYYYY*/
  /*****HOBBBBYYYYY*/
  /*****HOBBBBYYYYY*/
  /*****HOBBBBYYYYY*/
.tatt{
    background-color: black;
    width: 100%;
    height:400px;
    box-shadow: 0px -4px 15px -1px rgba(255, 255, 255, 0.438);
    position: relative;
    top:00px;
 
}
h4  {
    color:white;
    text-align: center;
    font-size: 40px;
    top: 30px;
    position: relative;
}
h5{
    color:white;
    text-align: center;
    font-size: 30px;
    top: 60px;
    position: relative;
    opacity: .6;
}

.educ{
    background-color: black;
    width: 100%;
    height:300px;
    box-shadow: 0px -4px 15px -1px rgba(255, 255, 255, 0.438);
    position: relative;
    top:0px;
    color:white;
    
}
h7{
    color:white;
    text-align: center;
    font-size: 40px;
    top: 30px;
    position: relative;
    display: block;
    align-self: center;
}

.educa{
    position: relative;
    top: 60px;
    font-size:10px;
    width: 550px;;
    left:100px;
}
.cont{
    background-color: black;
    width: 100%;
    height:700px;
    box-shadow: 0px -4px 15px -1px rgba(255, 255, 255, 0.438);
    position: relative;
    top:60px;
    display: flex;
    justify-content: center;
}
form{
    left: 10px;
    position: relative;
}
.frm{
    height: 600px;
    position: relative;
    width: 600px;
    display: flex;
    justify-content: center;
   
}
input{
    margin-top: 40px;;
    margin-right: 40px;
    width: 250px;
    height: 30px;
}
::placeholder{
    font-size: 15px;
}
textarea{
    margin-top:40px; ;
    width: 555px;
    height: 200px;
}
.sbmt{
    position: relative;
    top: 10px;
    left:0px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-color: White;
    background-color: black;
    color: white;
}
.sbmt:hover{
    box-shadow: 0px 0px 30px 1px  rgb(0, 47, 255);
}
}